language: go

go:
  - 1.14

env:
  global:
    - NAME=thing-directory
    - VERSION=${TRAVIS_BRANCH}
    - BUILDNUM=$TRAVIS_BUILD_NUMBER

install: true # skips default installation step

before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

deploy:
  # push latest docker image
  - provider: script
    script: docker push linksmart/td:latest
    on:
      branch: master
  # push tagged docker image
  - provider: script
    script: docker tag linksmart/td linksmart/td:${TRAVIS_TAG} &&
      docker push linksmart/td:${TRAVIS_TAG}
    on:
      tags: true
  # cross-compile (uses global environment variables)
  - provider: script
    script: curl -s https://raw.githubusercontent.com/linksmart/ci-scripts/master/go/go-build.sh | bash
    on:
      tags: true
  # publish artifacts and sample config file
  - provider: releases
    api_key: $GITHUB_KEY
    file_glob: true
    file:
      - bin/*
      - sample_conf/*
    skip_cleanup: true
    overwrite: true
    prerelease: true # release manually after QC
    on:
      tags: true
